@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--This is the home/index/landing page.  It contains links to the other pages.-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/joel.jpg" />
</div>
<br />
